body
{
	background-color:gray;
	font-family:Tahoma, Georgia, Arial;
}
.OuterBox
{	
	width:100%;
}
.InnerBox
{
	background-color:lightgrey;
	margin-left:15%;
	margin-right:15%;
}
.CoreBox
{
	padding: 10px 10px 10px 10px;
}
.MainOpenIDBox
{
	padding: 25px 25px 25px 25px;
	margin: 25px 25px 25px 25px;
	background-color:lightyellow;
}
.MainOpenIDBoxRegister
{
	margin: 25px 25px 25px 25px;
	background-color:lightyellow;	
}
.LabelTitle
{
	font-size:2.0em;
}
.LabelSubTitle
{
	padding-left:2px;
	font-size:0.8em;
}
.LabelOpenTitle
{
	text-decoration:none;
	font-size:1.7em;
}
.LabelOpenSubTitle
{
	text-decoration:none;
	font-size:1.0em;
}
.LabelFooter
{
	font-size:0.7em;
}
.LabelHeader
{
	font-size:0.9em;
}
.Label
{
	font-size:0.9em;
}
.ErrorMessage
{
	color:Red;
}